<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular.min.js"></script>
    <script>
       var app = angular.module('app',[]);

        app.controller('userCtrl',function($scope) {
            //0:登录  1:注册
            $scope.pageState = 0;
            $scope.change = function(num) {
                $scope.pageState = num;
            }
        })

        app.controller('loginCtrl',function($scope) {
            /*如果ctroll下有form表单 且name进行赋值
            * $scope下自动包含当前的form表单
            * */
            //console.info("登录的作用域",$scope);
            $scope.loginBtn = function() {
                if($scope.login.$invalid) {
                    alert('form表单验证未通过');
                } else {
                    alert('验证成功,提交ajax');
                }
            }
        })
       app.controller('registerCtrl',function($scope) {
       })
    </script>
    <style>
        #option span {
            display: inline-block;
            width:100px;
            height:30px;
            text-align: center;
        }

    </style>
</head>
<body>

<div ng-controller="userCtrl">
    <p id="option">
        <span ng-click="change(0)">登录</span><span ng-click="change(1)">注册</span>
    </p>
    <div ng-if="pageState==0" ng-controller="loginCtrl">
        <form novalidate name="login">
            <div>
                <lable>用户名:</lable>
                <input type="text" name="userName" ng-model="name" ng-required="true" ng-maxlength="16" ng-minlength="6" ng-pattern="/^[a-zA-Z][_a-zA-Z0-9]{5,15}$/">
               <!-- 验证失败 且 用户操作过元素 -->
                <div ng-show="login.userName.$invalid && login.userName.$dirty">
                    <p ng-show="login.userName.$error.required">用户名不能为空</p>
                    <p ng-show="login.userName.$error.minlength || login.userName.$error.maxlength">用户名长度为6~16位</p>
                    <p ng-show="login.userName.$error.pattern">用户名格式为6~16位,英文字母下划线 且下划线打头</p>
                </div>
            </div>
            <div>
                <lable>密码:</lable>
                <input type="password">
            </div>
            <button type="button"  ng-click="loginBtn()">登录</button>
        </form>
    </div>
    <div ng-if="pageState==1" ng-controller="registerCtrl">
        注册界面
    </div>
</div>




</body>
</html>